@import './icons.css';

:root {
	--panel-border: 1px solid #ccc;
	--panel-border-radius: 3px;

	--separator-color: #ddd;

	--gap: 1rem;
	--half-gap: 0.5rem;
	--quarter-gap: 0.25rem;

	--primary-color: #3f51b5;
	--primary-color-dark: #303f9f;
	--primary-color-light: #c5cae9;

	--accent-color: #ffa700;

	--text-on-primary-color: #fff;
	--text-on-primary-color-dark: #fff;
	--text-on-primary-color-light: #333;
}

body {
	color: #333;
	font-family: sans-serif;
}

hr {
	border: 0;
    height: 1px;
	background: #ddd;
}

session-view {
	display: block;

	margin: auto;
	max-width: 450px;

	border: var(--panel-border);
	border-radius: var(--panel-border-radius);

	padding: var(--gap);
}

session-view time-slot-view {
}

session-view time-slot-view:not(:last-child) {
	border-bottom: 1px solid var(--separator-color);
}

button {
	background: var(--primary-color);
	color: var(--text-on-primary-color);

	border: none;
	border-radius: var(--panel-border-radius);

	padding: var(--half-gap);

	font-size: 1rem;

	cursor: pointer;
}

button.icon-button {
	display: flex;
	align-items: center;

	& > .icon {
		font-size: 1.4em;
		margin-right: var(--half-gap);
	}
}

button:active {
	background: var(--primary-color-dark);
	color: var(--text-on-primary-color-dark);
}

button.session-trigger {
	margin: auto;
	margin-bottom: var(--gap);
	margin-top: var(--gap);
}

time-slot-view {
	display: block;
	padding: var(--half-gap);

	color: var(--text-on-primary-color-light);

	& > .time-left {
		float: right;
	}
}

time-slot-view.done-0.current {
	background: var(--primary-color-light);
}
time-slot-view.done-5 {
	background: linear-gradient(90deg, var(--accent-color) 5%, var(--primary-color-light) 0);
}
time-slot-view.done-10 {
	background: linear-gradient(90deg, var(--accent-color) 10%, var(--primary-color-light) 0);
}
time-slot-view.done-15 {
	background: linear-gradient(90deg, var(--accent-color) 15%, var(--primary-color-light) 0);
}
time-slot-view.done-20 {
	background: linear-gradient(90deg, var(--accent-color) 20%, var(--primary-color-light) 0);
}
time-slot-view.done-25 {
	background: linear-gradient(90deg, var(--accent-color) 25%, var(--primary-color-light) 0);
}
time-slot-view.done-30 {
	background: linear-gradient(90deg, var(--accent-color) 30%, var(--primary-color-light) 0);
}
time-slot-view.done-35 {
	background: linear-gradient(90deg, var(--accent-color) 35%, var(--primary-color-light) 0);
}
time-slot-view.done-40 {
	background: linear-gradient(90deg, var(--accent-color) 40%, var(--primary-color-light) 0);
}
time-slot-view.done-45 {
	background: linear-gradient(90deg, var(--accent-color) 45%, var(--primary-color-light) 0);
}
time-slot-view.done-50 {
	background: linear-gradient(90deg, var(--accent-color) 50%, var(--primary-color-light) 0);
}
time-slot-view.done-55 {
	background: linear-gradient(90deg, var(--accent-color) 55%, var(--primary-color-light) 0);
}
time-slot-view.done-60 {
	background: linear-gradient(90deg, var(--accent-color) 60%, var(--primary-color-light) 0);
}
time-slot-view.done-65 {
	background: linear-gradient(90deg, var(--accent-color) 65%, var(--primary-color-light) 0);
}
time-slot-view.done-70 {
	background: linear-gradient(90deg, var(--accent-color) 70%, var(--primary-color-light) 0);
}
time-slot-view.done-75 {
	background: linear-gradient(90deg, var(--accent-color) 75%, var(--primary-color-light) 0);
}
time-slot-view.done-80 {
	background: linear-gradient(90deg, var(--accent-color) 80%, var(--primary-color-light) 0);
}
time-slot-view.done-85 {
	background: linear-gradient(90deg, var(--accent-color) 85%, var(--primary-color-light) 0);
}
time-slot-view.done-90 {
	background: linear-gradient(90deg, var(--accent-color) 90%, var(--primary-color-light) 0);
}
time-slot-view.done-95 {
	background: linear-gradient(90deg, var(--accent-color) 95%, var(--primary-color-light) 0);
}
time-slot-view.done-100 {
	background: var(--accent-color);
}
