.icon {
	display: inline-block;

	width: 1em;
	height: 1em;

	mask-size: 1em 1em;
	-webkit-mask-size: 1em 1em;
	background-color: var(--text-on-primary-color);
}

.icon.play {
	-webkit-mask-image: url("feather-icons/dist/icons/play-circle.svg");
	mask-image: url("feather-icons/dist/icons/play-circle.svg");
}

.icon.stop {
	-webkit-mask-image: url("feather-icons/dist/icons/stop-circle.svg");
	mask-image: url("feather-icons/dist/icons/stop-circle.svg");
}
